@import '../base.sass'

.about
  display: flex 
  // background: red 
  &__content
    display: flex 
    flex-direction: column
    width: 100%
    &__team
      h2 
        text-align: center
        margin-bottom: 1em
        @include edgesnap 
          margin-bottom: .75em
      &__container
        width: 100%
        // background: pink

        &__members
          // display: grid
          margin-top: 4em
          // grid-template-columns: repeat(1, 1fr)
          // grid-column-gap: 4e
          @include tablet-phone
            margin-top: 1em
          @include edgesnap
          grid-template-columns: repeat( auto-fit, minmax(25%, 1fr) )
          @media(max-width: 900px)
            grid-template-columns: repeat( auto-fit, minmax(28%, 1fr) )
            grid-column-gap: 3em
          @media(max-width: 850px)
            grid-template-columns: repeat( auto-fit, minmax(30%, 1fr) )
            grid-column-gap: 4em
          @media(max-width: 500px)
            grid-template-columns: repeat( auto-fit, minmax(31%, 1fr) )
            grid-column-gap: 3.25em
          @include phone-large
            grid-template-columns: repeat( auto-fit, minmax(80%, 1fr) )

          // @include edgesnap
          //   grid-template-columns: repeat( auto-fit, minmax(25%, 1fr) )
          // @media(max-width: 900px)
          //   grid-template-columns: repeat( auto-fit, minmax(28%, 1fr) )
          //   grid-column-gap: 3em
          // @media(max-width: 850px)
          //   grid-template-columns: repeat( auto-fit, minmax(30%, 1fr) )
          //   grid-column-gap: 4em
          // @media(max-width: 500px)
          //   grid-template-columns: repeat( auto-fit, minmax(31%, 1fr) )
          //   grid-column-gap: 3.25em
          // @include phone-large
          //   grid-template-columns: repeat( auto-fit, minmax(80%, 1fr) )