@import '../base.sass'

.style_tester 
  display: flex
  flex-direction: column
  // background: lightskyblue
.cards
  display: flex
  width: 100%
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3))
  @include tablet-phone 
    flex-direction: column
.cta
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 20px
  text-align: center
  hr
    margin: 10px
    width: 30vw
  p
    width: 70%
  h2
    padding: 0